#include <windows.h>
#include <commctrl.h>
#include "resource.h"

//
// Dialog resources
//
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_AUDIOBOX DIALOG 0, 0, 155, 36
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Virtual Audio Register"
FONT 9, "Segoe UI"
{
    PUSHBUTTON      "Register", IDC_CHECK,     13,  7,  42, 13, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK",       IDOK,          56,  7,  42, 13, 0, WS_EX_LEFT
    PUSHBUTTON      "Help", IDC_CHECK_HELP,    99,  7,  42, 13, 0, WS_EX_LEFT
	LTEXT           "Vers 1.005", IDC_VERS,    15, 23, 100,  9, SS_LEFT, WS_EX_LEFT
}

//
// Icon resources
//
IDI_SPOUTICON  ICON  "SpoutLogo4.ico" // Speaker looking thing

//
// Version Information resources
//
VS_VERSION_INFO VERSIONINFO
    FILEVERSION     1,0,0,5
    PRODUCTVERSION  1,0,0,5
    FILEOS          VOS_NT
    FILETYPE        VFT_APP
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   VS_FF_PRERELEASE
    FILEFLAGS       0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "080904E4"
        {
            VALUE "CompanyName", "Leading Edge Pty Ltd\0"
            VALUE "FileDescription", "Virtual Audio registration program\0"
            VALUE "FileVersion", "1.005\0"
            VALUE "InternalName", "VirtualAudioRegister"
            VALUE "LegalCopyright", "Copyright \251 Lynn Jarvis 2023-2025\0"
            VALUE "OriginalFilename", "VirtualAudioRegister.exe\0"
            VALUE "ProductName", "VirtualAudioRegister\0"
            VALUE "ProductVersion", "1.005\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0809, 0x04E4
    }
}
